.inf {
  height: 70px; /* Set a fixed height for the inf component */
  width: 100%;
  margin-top: 50px;
}

.map {
  height: 100%; /* Set a fixed height for the map component, subtracting the heights of inf and top-bar */
  width: 100%;
  z-index: 1;
}

.top-bar {
  height: 20px; /* Set a fixed height for the top-bar component */
  width: 100%;
  z-index: 2;
  position: fixed;
  top: 0;
}

