.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background-color: #f1f1f1;
}

#toggle-panel-btn  {
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

#toggle-panel-btn:hover {
  background-color: #0056b3;
}


