<div class="top-bar">
  <button id="toggle-panel-btn" (click)="togglePanel()">Infotainment Panel</button>
</div>

<app-hexagon-infotainment-panel *ngIf="chooseInfPanel === 'hex'" [showInfotainmentPanel]="showInfotainmentPanel" [searchedHex]="searchedHex"  >
</app-hexagon-infotainment-panel>

<app-user-infotainment-panel *ngIf="chooseInfPanel === 'user'" [showInfotainmentPanel]="showInfotainmentPanel" [userId]="searchedHex" >
</app-user-infotainment-panel>

<app-poi-infotainment-panel *ngIf="chooseInfPanel === 'poi'" [showInfotainmentPanel]="showInfotainmentPanel" [selectedPoiId]="searchedHex">
</app-poi-infotainment-panel>



