/*.top-bar {*/
/*  position: fixed;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: space-between;*/
/*  height: 100%;*/
/*  background-color: rgba(94, 103, 105, 0.5); */
/*  z-index: 2;*/
/*  border-radius: 10px; !* Round edges *!*/
/*  backdrop-filter: blur(5px); !* Apply a blur effect *!*/
/*}*/

#toggle-panel-btn  {
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  font-size: 20px;
}



