.infotainment-panel {
    position: fixed;
    top: 25%;
    left: -700px;
    width: 700px;
    height: 100%; 
    background-color: #f1f1f1;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.3); 
    overflow-y: scroll;
    z-index: 1;
    transition: transform 0.3s ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .infotainment-panel .field {
    text-align: right;
    padding: 15px; 
  }
  
  .infotainment-panel.show {
    transform: translateX(350px); 
  }

  #toggle-panel-btn {
    padding: 10px 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: lightblue;
    color: white;
    cursor: pointer;
    font-size: 20px;
  }