  table {
    table-layout: fixed;
    width: 250px;
    border-collapse: collapse;
  }

/*  th, td {*/
/*    padding: 8px;*/
/*    text-align: left;*/
/*    border-bottom: 1px solid #ddd;*/
/*  }*/

  th {
    background-color: #f2f2f2;
  }

  #toggle-panel-btn  {
    text-align: center;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: #28519c;
    color: white;
    cursor: pointer;
    font-size: 20px;
  }
