<link href='https://fonts.googleapis.com/css?family=Inria Sans' rel='stylesheet'>
<div style="font-family: Arial,serif" class="infotainment-panel" [class.show]="showInfotainmentPanel">
    <div style="font-family: Arial,serif"class="Hexagon">
        <h3>Hexagon</h3>
      </div>
    <div class="field">
      <h3>Hex Id: {{ searchedHex }}</h3>
    </div>
    <div class="field">
      <h3>Parent Hex Id: {{ parentHexId }}</h3>
    </div>
    <div class="field">
      <h3>Area: {{area}} km^2</h3>
    </div>

    <div style="text-align: center" class="field">
      <button id="toggle-panel-btn" (click)="openPoiData()">List of POI's</button>
      <div *ngIf="showPoiData">
        <div *ngIf="pois.length > 0">
          <table>
            <tr>
              <th>poiId</th>
              <th>type</th>
              <th>userId</th>
            </tr>
            <tr *ngFor="let poi of pois">
              <td><a (click)="openPoiInfotainment(poi.id)">{{ poi.id }}</a></td>
              <td>{{ poi.type }}</td>
              <td><a (click)="openUserInfotainment(poi.userId)">{{ poi.userId }}</a></td>
            </tr>
          </table>
        </div>

      <div class="field" *ngIf="pois.length === 0">
        <h3>No POIs available for this hexagon.</h3>
      </div>

      </div>
    </div>



    <div class="field">
      <h3>Countries:</h3>
      <ul>
        <li *ngFor="let country of countries">{{ country }}</li>
      </ul>
    </div>

    <div class="field">
      <h3>Weather Forecast:</h3>
      <div>
        <img src="http://openweathermap.org/img/wn/{{ weatherIcon }}.png" alt="Weather Icon" style="width: 50px; height: 50px;">
        {{ weatherDescription }}
      </div>
      <p>{{ minTemp }}</p>
      <p>{{ maxTemp }}</p>
      <p>{{ feelsLikes }}</p>
      <p>{{ windspeed }}</p>
      <p>Rain: {{ rain }}</p>
    </div>

  <select id="myDropdown">
    <option value="all">All</option>
    <option value="year">Last Year</option>
    <option value="month">Last Month</option>
    <option value="week">Last Week</option>
  </select>
  <button id="getSelectedBtn">Generate Chart</button>


  <app-pie-chart [hexId]="searchedHex"> </app-pie-chart>

  <div class="button-container">
    <button id="move" class="back-button">Back</button>
    <button id="move" class="forward-button">Forward</button>
  </div>
</div>

