.filter {
    position: fixed;
    top: 20vh;
    left: 30vw;
    height: auto;
    width: 40vw;
    z-index: 1;
    opacity: 0;
}

.hazards {
    height: auto;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 15px;
}

#checkBoxForm {
    height: 40vh;
    overflow-y: scroll;
    overflow: hidden;
    padding-left: 5%;
}

p {
    text-align: center;
    padding: auto;
}

#selectAll{
    background-color:#577d86;
    border-top-left-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    color:white;
    width: 20vw;
    height: 10vh;
}

#deselectAll{
    background-color:#577d86;
    border-top-right-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    color:white;
    position: absolute;
    width: 20vw;
    height: 10vh;
    right: 0;
}

#hazardBtnImage {
  height: 54px;
  width:auto;
}

#minimizeBtn {
    position: fixed;
    top: 3%;
    right: 3%;
    background-color:#577d86;
    color:white;
    text-align: center;
    border-radius: 7vh;
    z-index: 1;
}

.filter.show {
    visibility: visible;
    opacity: 0.9;
    transition: visibility 0s linear 0s, opacity 500ms;
}

.filter.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 500ms, opacity 500ms;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
  }
  
  .slider {
    position: relative;
    width: 60px;
    height: 30px;
  }
  
  .slider input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider-round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider-round:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  .slider input[type="checkbox"]:checked + .slider-round {
    background-color: #2196F3;
  }
  
  .slider input[type="checkbox"]:focus + .slider-round {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .slider input[type="checkbox"]:checked + .slider-round:before {
    transform: translateX(30px);
  }
  
  .slider-label {
    font-size: 16px;
    margin-left: 10px;
  }
  