.filter {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 20vw;
    z-index: 1;
}

.hazards {
    height: 50vh;
    background-color: whitesmoke;
    border: 1px solid black;
    overflow-y: scroll;
    border-radius: 10px;
}

p {
    text-align: center;
    padding: auto;
}

#button1{
    width: 300px;
    height: 40px;
}

#button2{
    width: 300px;
    height: 40px;
}

#minimizeBtn {
    height: 40px;
    width: 20vw;
    background-color:#4CAF50;
    color:white;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10vh;
}

.filter.show {
    transform: translateY(50vh); 
}