.inf {
    height: 7% !important;
    width: 100% !important;
    position:relative;
    z-index: 0;
  }
.map {
    height: 85% !important;
    width: 100% !important;
}
.top-bar {
  height: 8% !important;
  width: 100% !important;
}


