<div class="top-panel">
    <div class="search-container">
      <input (keypress)="onSearchKeyPress($event)" class = "search-field" type="text" placeholder="Search..." />
      <button class="search-button" (click)="triggerSearch()">
        <img id="png" src="https://cdn-icons-png.flaticon.com/128/2989/2989907.png" alt="Search" />
      </button>
      <button class="search-button" (click)="switchSearch()">
        <img id="png" src="https://cdn-icons-png.flaticon.com/128/519/519848.png" alt="Switch" />
      </button>
      <button class="search-button" (click)="triggerClearSearch()">
          <img id="png" src="https://cdn-icons-png.flaticon.com/128/10522/10522140.png" alt="Clear" />
      </button>


    </div>
  </div>
