.top-panel {
  position: fixed;
  top: 20px;
  left: 400px;
  right: 400px;
  
  background-color: rgba(94, 103, 105, 0.5); /* Semi-transparent white background */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 2;
  border-radius: 10px; /* Round edges */
  backdrop-filter: blur(5px); /* Apply a blur effect */
  height: 45px;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  width: 300px; /* Update the width value as per your requirement */
  padding: 6px 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.search-container .search-button {
  margin-left: 10px;
  padding: 6px 10px;
  border-radius: 10px;
  background-color: #577d86;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
#serachpng{
  width: 14px;
  height: 14px;
}

#switchpng{
  width: 14px;
  height: 14px;
}

#clearpng{
  width: 14px;
  height: 14px;
}
