.top-panel {
  position: fixed;
  top: 20px;
  left: 80px;
  right: 80px;
  background-color: rgba(87, 125, 134, 0.5); /* Semi-transparent white background */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  z-index: 2;
  border-radius: 10px; /* Round edges */
  height: 60px;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.search-container .search-button {
  margin-left: 10px;
  padding: 6px 10px;
  border-radius: 4px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.button-container {
  display: flex;
}

.button-container .top-button {
  margin-left: 10px;
  padding: 6px 10px;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
}