<div class="top-panel">
    <div class="search-container">
      <input (keypress)="onSearchKeyPress($event)" class = "search-field" type="text" placeholder="Search..." />
      <button class="search-button" (click)="triggerSearch()">
        <img id="serachpng" src="https://cdn-icons-png.flaticon.com/128/2989/2989907.png" alt="buttonpng" />
      </button>
      <button class="search-button" (click)="switchSearch()">Switch</button>
      <button class="search-button" (click)="triggerClearSearch()">Clear</button>
    </div>
  </div>